[Unit]
Description=Script that syncs epics folder from the EEE server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/bash -c "rsync -v --compress --recursive --links --perms --times --timeout 120 rsync://{{rsync_client_epics_src}} {{ rsync_client_dest }}/epics"
User=ess

[Install]
WantedBy=multi-user.target
