[Unit]
Description=Script that syncs the startup folder from the EEE server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/bash -c "rsync -v --recursive --links --perms --times --timeout 120 rsync://{{rsync_client_startup_src}} {{ rsync_client_dest }}/startup"
User=ess

[Install]
WantedBy=multi-user.target
